<form #chatForm="ngForm" (ngSubmit)="createChat(chatForm)">
  <label>NAME CHAT:</label>
  <input type="text" ngModel name="name">
  <input type="submit">
</form>

<div *ngFor=" let chat of chats">

  <ul>
    <li>
      <h1>
        <a [routerLink]="'/single-chat/' + chat._id"
           [queryParams]="chat"
        >
          {{chat.name}}
        </a>
      </h1>
      <h1>{{chat._id}}</h1>
    </li>
  </ul>

  <button
    style="background:darkmagenta"
    (click)="removeChat(chat)"
  >DELETE
  </button>
</div>
