<!--<form #userForm="ngForm" (ngSubmit)="createUser(userForm)">
  <label>Name:</label>
  <input type="text" ngModel name="name">
  <label>Phone:</label>
  <input type="text" ngModel name="phone">
  <input type="submit">
</form>-->

<div *ngFor="let user of users">

  <ul>
    <li>
      <h1>
        <a [routerLink]="'/single-user/' + user._id"
           [queryParams]="user"
        >
          {{user.name}}
        </a>
      </h1>
      <h4>{{user.phone}}</h4>
      <h4>{{user._id}}</h4>
    </li>
  </ul>

  <button
    style="background: lawngreen"
    (click)="removeUser(user)"
  >DELETE</button>
</div>
